/* Custom Fonts */
@font-face{
    font-family: googleSansRegular;
    src:url(fonts/product_sans_regular-webfont.woff);
}
@font-face{
    font-family: googleSansBold;
    src:url(fonts/product_sans_bold-webfont.woff);
}
/*********** Colors
Green : #4eb28e
Background : #1f2020
**************/

/* Custom Layout Configuration */
body{
    background-color: #121212;
}
nav{
    height: 500px;
    width: 20%;
    float: left;
    position: fixed;
    background-color: #181818;
}
nav p{
    font-family: googleSansBold;
    font-size: 24px;
}
nav img{
    border-radius: 50%;
    float: left;
    margin-left: 10%;
}
nav button{
    width: 100%;
    height: 15%;
    color: #4eb28e;
    font-family: googleSansBold;
    background-color: #181818;
    border-color: #181818;
    font-size: 24px;
    cursor: pointer;
}
main{
    height: 100%;
    width: 80%;
    float: right;
    color: aliceblue;
}
main p{
    font-family: googleSansRegular;
    font-size: 24px;
    margin-left: 50px;
}
main h1{
    font-family: googleSansBold;
    font-size: 28px;
    text-align: center;
    color: #4eb28e;
}
main h2{
    font-family: googleSansRegular;
    font-size: 24px;
    color: #4eb28e; 
}
main ul{
    font-family: googleSansRegular;
    font-size: 24px;
    margin-left: 50px;
}